.bg-container{
  background-color: aliceblue;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120%;
  padding: 10px;
}
.name-photo{
  width: 150px;
}
.character-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.character-container h1{
  color: brown;
}